.skill {
    display  : block;
    position : relative;
    max-width: 100%;
}

.skill_list {
    width     : 100%;
    display   : inline-flex;
    flex-wrap : wrap;
    height    : auto;
    list-style: none;
    box-sizing: border-box;
    padding   : 0 .8em .8em;
}

.skill_list>li {
    min-width        : 9em;
    height           : auto;
    box-sizing       : border-box;
    border-radius    : var(--default_radius);
    padding          : 0.6em 1em;
    text-align       : center;
    display          : inline-block;
    font-weight      : bold;
    background       : var(--color_white2);
    text-decoration  : none;
    margin           : .4em 0.8em;
    border-style     : solid;
    border-width     : 2px;
    border-left-width: .55em;
    word-wrap        : none;
    white-space      : pre;
}