* {
    color      : var(--color_text);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Osaka", "游ゴシック", Meiryo, sans-serif;
    font-weight: bold;
    word-wrap  : break-word;
}

body {
    margin : 0;
    padding: 0;
}

h3 {
    border-left  : .5em solid var(--color_theme);
    border-bottom: 1px solid var(--color_theme);
    background   : var(--color_white);
    line-height  : 3em;
    padding-left : 1em;
    margin-top   : 3em;
}

h4 {
    border-left  : .5em solid var(--color_theme);
    padding-left : .4em;
    margin-bottom: 0;
    margin-left  : .5em;
}

ul,
p {
    font-size: smaller;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--color_theme);
}

a:hover,
a:active {
    opacity: .75;
}

.center {
    text-align: center;
}