<div id="profile">

    <div id="profile_title">{{ .title }}</div>

    <div id="profile_info_outer">
        <div id="profile_info">
            <img id="profile_img_icon" src="./assets/img/icon.jpg">
            <div id="profile_table_outer">
                <table id="profile_table">
                    {{ range $i, $row := .table }}
                    <tr>
                        <th>{{ $row.head }}</th>
                        <td>{{ $row.text }}</td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
    </div>

    <ul id="profile_sns">
        {{ range $i, $sns := .sns }}
            <li><a target="_blank" class="btn5 color_{{ $sns.tag }}" href="{{ $sns.link }}"><span class="inner_btn5">{{ $sns.text }}</span></a></li>
        {{ end }}
    </ul>

    <p id="profile_msg" class="center">{{ .msg }}</p>

</div>