.btn5 {
    display   : inline-block;
    min-width : 10em;
    text-align: center;
    color     : var(--color_text);
    margin    : .5em;
    cursor    : pointer;
}

.btn5>.inner_btn5 {
    background-color: var(--color_white);
    width           : 100%;
    line-height     : 3em;
    font-weight     : bold;
    display         : inline-block;
    position        : relative;
    transition      : all .2s;
    left            : 0;
    top             : 0;
    border-style    : solid;
    border-width    : 2px;
    box-shadow      : 4px 4px 0 var(--color_text);
}

.btn5:hover>.inner_btn5 {
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    left      : 4px;
    top       : 4px;
}