#footer {
    background: var(--color_light_gray);
    margin-top: 5em;
    padding   : 1em 2em;
    box-sizing: border-box;
}

#footer_list {
    padding        : 2em 0;
    margin         : 0;
    list-style-type: none;
}

#footer_list li {
    line-height: 2em;
}