:root {
    --menu_height: 3rem;
    --logo_margin: 2px;
}

#menu {
    z-index              : 9999;
    top                  : 0;
    display              : grid;
    grid-template-columns: 1fr auto;
    height               : var(--menu_height);
    width                : 100%;
    background           : var(--color_white);
    position             : relative;
    background-color     : var(--color_black);
}


#menu_info {
    position       : relative;
    margin-left    : 0;
    height         : var(--menu_height);
    text-decoration: none;
}

#menu_logo_outer {
    display              : inline-grid;
    background-color     : var(--color_black2);
    box-sizing           : border-box;
    width                : auto;
    height               : 100%;
    grid-template-columns: var(--menu_height) auto;
    border               : var(--logo_margin) solid var(--color_black);
    border-radius        : var(--default_radius);
}

#menu_logo_outer:hover {
    opacity: .75;
}

#menu_logo {
    padding      : 8px;
    border-radius: 50%;
    height       : calc(var(--menu_height) - 2 * var(--logo_margin));
    box-sizing   : border-box;
}

#menu_title {
    width      : auto;
    font-size  : large;
    box-sizing : border-box;
    display    : inline;
    color      : var(--color_white);
    padding    : 5px 1em 0;
    line-height: calc(var(--menu_height) - 2 * var(--logo_margin) - 5px);
}

#menu_nav {
    list-style: none;
    font-size : 0;
    overflow  : hidden;
}

#menu_nav li {
    width     : 140px;
    text-align: center;
    display   : inline-block;
    font-size : 16px;
}

#menu_nav li a {
    display         : inline-block;
    width           : 100%;
    height          : 100%;
    background-color: var(--color_black);
    text-decoration : none;
    color           : var(--color_white);
    font-weight     : bold;
    line-height     : 3em;
}

#menu_nav li a:hover {
    cursor          : pointer;
    background-color: var(--color_black2);
}

@media (max-width: 599px) {
    #menu {
        display: none;
    }
}