#menu {
    position             : block;
    z-index              : 9999;
    top                  : 0;
    display              : grid;
    grid-template-columns: 1fr auto;
    width                : 100%;
    background           : var(--color_white);
}

#menu_nav {
    list-style: none;
    font-size : 0;
}

#menu_nav li {
    width     : 140px;
    text-align: center;
    display   : inline-block;
    font-size : 16px;
}

#menu_nav li a {
    display         : inline-block;
    width           : 100%;
    height          : 100%;
    background-color: var(--color_black);
    text-decoration : none;
    color           : var(--color_white);
    font-weight     : bold;
    line-height     : 3em;
}

#menu_nav li a:hover {
    cursor          : pointer;
    background-color: var(--color_black2);
}

@media (max-width: 599px) {
    #menu {
        display: none;
    }
}